altair==4.1.0
geopandas==0.10.2
# matplotlib==3.4.3
# numpy==1.20.3
# pandas==1.5.3
matplotlib
pandas
# pip==21.2.4
# streamlit==1.22.0
# seaborn==0.11.2
seaborn
streamlit
plotly==5.4.0
# openpyxl==3.0.10
# pygeos==0.10.2
click==7.1.2
protobuf==3.19.6

# ===================================
altair==4.1.0
click==7.1.2
geopandas==1.0.1
matplotlib==3.10.1
numpy==2.2.4
openpyxl==3.1.5
pandas==2.2.3
pillow==11.1.0
plotly==6.0.1
protobuf==3.19.6
pygeos==0.14
seaborn==0.13.2
streamlit==1.22.0
